[tool.bumpversion]
current_version = "0.1.0"
commit = true
tag = true

[[tool.bumpversion.files]]
filename = "src/framework.hpp"
search = "static auto VERSION = \"{current_version}\";"
replace = "static auto VERSION = \"{new_version}\";"
